.footer{
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url('/src/images/header/fon.jpg');
    background-repeat: no-repeat;
    background-size:cover;
  }

  .logo_link{
    font-family: Raleway, sans-serif;
    font-weight: 700;
    justify-content: center;
     @media screen and (max-width: 1199px)  {
    font-size: 24px;
     }
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: $text-main-color;
    text-shadow:2px 2px 4px #000000;
    &{
    outline: none;
    }
    //  @media screen and (min-width: 1200px)  {
    //   margin-left: 20px;
    //  }
  }
  
    
    .footer-left__container{
       @media screen and (min-width: 1200px)  {
    display: flex;  
    margin-left: auto;
    align-items: baseline;
      }
    }
    
    .footer-continer{
    //   @media screen and (min-width: 768px) {
    display: flex;  
    margin-left: auto;
    align-items: baseline;
justify-content: center;
    text-align: center;
    margin-left: auto;
    //   }
    //   @media screen and (min-width: 1200px){
    // display: flex;  
    // margin-left: 60px;
    // text-align: left;
    // }
    }
    
    
    .footer-left__section{
          @media screen and (min-width: 480px){
    text-align: center;
      }
      @media screen and (min-width: 1200px)  {
      margin-left: auto;
      margin-top: 20px;
      text-align: center;
      }
      }
    
      .footer-left__item{
         @media screen and (max-width: 1199px)  {
    margin-top: 9px;
         }
    margin-bottom: 9px;
    }
    
    .footer-left__footer-connect{
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */
    letter-spacing: 0.03em;
    color:$text-white-color;
    outline: none;
    &:hover,
    &:focus{
      color: $text-white-color;
    }
    }
    
    .footer-left__footer-adress{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */
    letter-spacing: 0.03em;
    color: $text-white-color;
    outline: none;
    }
    
    .footer-center__list{
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 20px;
    }
    
    

    .social-list{
      display: flex;
      justify-content: center;
    }
    
    .social-list__item{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    }
    
    .social-list__item + .social-list__item{
      margin-left: 10px;
    }

    .social-list__link-light{
      width: 100%;
      height: 100%;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color:$bg-first-color;
      color: #ffffff;
      outline: none;
      transition: color 250ms;
      transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
      transition: background-color 250ms;
      transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
      &:focus{
        background-color: $accentColor;
        color:#ffffff;
      }
    }
    
    .social-list__icon{
      fill:currentColor;
      transition: color 250ms;
      transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
      transition: background-color 250ms;
      transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
    }
    