       <section id="services" class="prices">
        <div class="container">
            <h2 class="prices-title section-title">Послуги та ціни</h2>
            <div class="prices-wrap">
                <ul class="prices-list prices-list-light list">
                    <li class="prices-item">
                        <p class="prices-item-text">Класичний масаж</p>
                        <span class="prices-item-text prices-item-count"
                            >від 600 грн. / 60 хв.</span
                        >
                    </li>
                    <li class="info">
                        <input id="info__body_1" class="info__switch" type="checkbox">
                        <label for="info__body_1" class="info__headline">Детальніше</label>
                        <div class="info__body">
                            являє собою сукупність механічних прийомів, спрямованих на лікування захворювань опорно-рухового апарату за допомогою тиску, розтягування, вібрації, биття та розминання. Класичний масаж також може позитивно впливати при патологіях деяких внутрішніх органів. Масаж – це терапія, заснована на подразниках, що викликають реакцію у відповідь організму 
                            Основна мета масажу – зберегти чи відновити гармонію тіла за допомогою регулюючих сенсорних технік. Класичний масаж – це метод, що ґрунтується на п'яти основних жестах. Ці жести впливають як у шкіру, і на тканини під нею і сприймаються нервами. Останні передають ці відчуття у мозок, сприяючи цим утворення речовин, що зменшують біль. Впливаючи на вегетативну нервову систему, масаж також може впливати на дихання, травлення та кровообіг </div>
                      </li>
                    <li class="prices-item">
                        <p class="prices-item-text">Релакс масаж</p>
                        <span class="prices-item-text prices-item-count"
                            >від 600 грн. / 60 хв.</span
                        >
                    </li>
                     <li class="info">
                        <input id="info__body_2" class="info__switch" type="checkbox">
                        <label for="info__body_2" class="info__headline">Детальніше</label>
                        <div class="info__body">
                            це справжнє джерело релаксації та гарного самопочуття, яке усуває м'язові «вузли», сприяючи циркуляції крові та лімфи. Момент розслаблення гарантований завдяки численним перевагам, які діють, зокрема, на стрес та тривогу. 
                            Як тільки напруга знімається пацієнту, тіло повільно починає розслаблятися, а м'язи та суглоби відновлюють свою гнучкість за рахунок розслаблення. Цей масаж діє як фізично, і ментально і доступний кожному. </div>
                      </li>
                    <li class="prices-item">
                        <p class="prices-item-text">Спортивний масаж</p>
                        <span class="prices-item-text prices-item-count"
                            >від 700 грн. / 60 хв.</span
                        >
                    </li>
                     <li class="info">
                        <input id="info__body_3" class="info__switch" type="checkbox">
                        <label for="info__body_3" class="info__headline">Детальніше</label>
                        <div class="info__body">
                            це специфічно лікувальна техніка, що відповідає потребам спортсменів. Цей масаж унікальний тим, що спрямований на зняття певної напруги та підготовку тіла до певної діяльності. Маневри спортивного масажу виходять в основному з класичного масажу та фізіотерапії. Цей масаж виконується глибоко і включає ряд маневрів, таких як міофасціальне розслаблення, тригерні точки, внутрішньом'язовий масаж, пасивна мобілізація, розтяжка, лімфодренаж і накачування. Також іноді використовують лікувальну лейкопластирну пов'язку (тейпування). 

                            Спортивний масаж, природно, орієнтований як професійних спортсменів; будь-хто, хто займається фізичною активністю на регулярній основі, отримає користь. Використовуваний як при підготовці до тренування, так і для відновлення, спортивний масаж є ідеальним для того, щоб побалувати тіло, яке потребує силового опрацювання. Він спрямований на збереження рухливості та гнучкості суглобів, а також на полегшення м'язово-суглобових болів, пов'язаних із тренуваннями. </div>
                      </li>
                    <li class="prices-item">
                        <p class="prices-item-text">
                            Лімфодренаж
                        </p>
                        <span class="prices-item-text prices-item-count"
                            >від 600 грн. / 60 хв.</span
                        >
                    </li>
                     <li class="info">
                        <input id="info__body_4" class="info__switch" type="checkbox">
                        <label for="info__body_4" class="info__headline">Детальніше</label>
                        <div class="info__body">
                            в основному призначається для боротьби з лімфатичним набряком. Це також допомагає позбутися сміття і токсинів, що накопичилися в лімфі. "Лімфодренаж - це метод м'якого масажу, спрямований на поліпшення циркуляції лімфи". Цей метод масажу служить для дренування лімфи, безбарвної рідини, яка циркулює в лімфатичних судинах і виводить токсини та клітинне сміття, звільняючи її від залишків і, таким чином, запобігаючи набряку. 

                            Лімфодренаж протипоказаний при: туберкульозі, тромбозі, флебіті, набряку серця, гіпертиреозі, астмі, низькому кров'яному тиску. </div>
                      </li>
                    <li class="prices-item">
                        <p class="prices-item-text">
                            Моделюючий масаж
                        </p>
                        <span class="prices-item-text prices-item-count"
                            >від 700 грн. / 50 хв.</span
                        >
                    </li>
                     <li class="info">
                        <input id="info__body_5" class="info__switch" type="checkbox">
                        <label for="info__body_5" class="info__headline">Детальніше</label>
                        <div class="info__body">
                            Техніка ручного масажу, основною характеристикою якої є застосування енергійних, швидких та твердих рухів по всьому тілу. Цей масаж має дивовижні результати, тому що він був розроблений для формування адипоцитів, тобто для переміщення жиру в потрібне місце та, таким чином, для полегшення стану тіла. Розминання, пощипування та ковзання є одними з маневрів, які обіцяють змінити форму тіла та забезпечити більш скульптурний силует. </div>
                      </li>
                    <li class="prices-item">
                        <p class="prices-item-text">
                            Масаж для вагітних
                        </p>
                        <span class="prices-item-text prices-item-count"
                            >500 грн. / 60 хв.</span
                        >
                    </li>
                     <li class="info">
                        <input id="info__body_6" class="info__switch" type="checkbox">
                        <label for="info__body_6" class="info__headline">Детальніше</label>
                        <div class="info__body">
                            Вагітність, мабуть, час, коли ми найбільше хочемо, щоб нас масажували і балували. Розслабте суглоби і напругу в спині, покращіть кровообіг, травлення і дихання або просто розслабтеся і принесіть користь: пренатальний масаж має тисячу переваг, яких було б неправильно позбавляти себе 

                            Коли ми можемо зробити масаж? Пренатальний масаж не становить небезпеки для вагітності, проте з міркувань обережності  вважається за краще не робити масаж у першому триместрі. Перші три місяці ризик викидня вище і стабілізація плоду ще не відбулася. Також відмовляються від масажу після 8-го місяця виключно як запобіжний засіб, щоб уникнути будь-яких переймів. </div>
                      </li>
                    <li class="prices-item">
                        <p class="prices-item-text">
                            Масаж спини
                        </p>
                        <span class="prices-item-text prices-item-count"
                            >від 300 грн. / 30 хв.</span
                        >
                    </li>
                     <li class="info">
                        <input id="info__body_7" class="info__switch" type="checkbox">
                        <label for="info__body_7" class="info__headline">Детальніше</label>
                        <div class="info__body">
                            знімає певні болі та забезпечує відмінне розслаблення. Різні рухи розслаблюють м'язи спини, плечей, шиї та рук. Масаж спини - це насамперед процедура, ефективна для зняття м'язової напруги та болю в спині. Крім того, масаж спини та шиї вивільняє гормони задоволення. Виконувані рухи покращують циркуляцію крові та лімфи, що дозволяє добре виводити токсини. Потім шкіра насичується киснем і зволожується завдяки жестам та масажному маслу. Сприяє гарному травленню та диханню; позбавляє мігрені; допомагає знайти гарний сон; дає заряд енергії.</div>
                      </li>
                </ul>
                <ul class="prices-list prices-list-dark list">
                    <li class="prices-item">
                        <p class="prices-item-text">
                            Дитячий масаж
                        </p>
                        <span class="prices-item-text prices-item-count"
                            >від 200 грн. / 20 хв.</span
                        >
                    </li>
                     <li class="info">
                        <input id="info__body_8" class="info__switch" type="checkbox">
                        <label for="info__body_8" class="info__headline">Детальніше</label>
                        <div class="info__body">
                            являє собою послідовність легких, ніжних та інстинктивних рухів. Ця мануальна техніка виконується певних частинах тіла. Можна практикувати з першого місяця життя немовля до підліткового віку, цей протокол розвивається та адаптується залежно від віку. 

                            Шість переваг, які змусять вас прийняти його: Покращує травлення, позбавляє кольок і запорів. Допомагає швидше розвивати моторику, стимулює вироблення ендорфіну, який забезпечує відчуття добробуту та діє на стрес, пов'язаний із зростанням, вимагає сенсорного усвідомлення, забезпечуючи фізичний контакт,сприяє емоційній безпеці та впевненості у собі, поліпшує якість сну </div>
                      </li>
                    <li class="prices-item">
                        <p class="prices-item-text">
                            Масаж обличчя
                        </p>
                        <span class="prices-item-text prices-item-count"
                            >300 грн. / 20 хв.</span
                        >
                    </li>
                     <li class="info">
                        <input id="info__body_9" class="info__switch" type="checkbox">
                        <label for="info__body_9" class="info__headline">Детальніше</label>
                        <div class="info__body">
                            Головною перевагою масажу обличчя є його омолоджуюча дія! Справді, це підтягне м'язи обличчя, що стримає перші ознаки старіння і зробить ваше обличчя молодшим. Коли ви прокинетеся вранці і виявите, що ваша шкіра більш опухла і бліда, ніж напередодні. Це пов'язано з тим, що під час фази сну циркуляція крові в організмі сповільнюється, а значить, до обличчя надходить менше крові. Регулярний масаж обличчя – гарний спосіб відновити кровотік та покращити здоров'я шкіри, зробити її пружною. </div>
                      </li>
                    <li class="prices-item">
                        <p class="prices-item-text">
                            Масаж рук
                        </p>
                        <span class="prices-item-text prices-item-count"
                            >200 грн. / 20 хв.</span
                        >
                    </li>
                     <li class="info">
                        <input id="info__body_10" class="info__switch" type="checkbox">
                        <label for="info__body_10" class="info__headline">Детальніше</label>
                        <div class="info__body">
                            Чому важливо дбати про свої руки? Долоні рук містять понад 3000 нервових закінчень, пов'язаних з усім нашим тілом. Масаж руками певних рефлекторних зон — одне з найменших насолод у повсякденному житті. Переваги численні: більше гнучкості рук і пальців, менше болю у зв'язках та сухожиллях, більше стимуляції нервів, пов'язаних з певними органами, зняття стресу та відчуття добробуту, розслаблення та спокій. </div>
                      </li>
                    <li class="prices-item">
                        <p class="prices-item-text">
                            Масаж ніг
                        </p>
                        <span class="prices-item-text prices-item-count"
                            >300 грн. / 20 хв.</span
                        >
                    </li>
                     <li class="info">
                        <input id="info__body_11" class="info__switch" type="checkbox">
                        <label for="info__body_11" class="info__headline">Детальніше</label>
                        <div class="info__body">
                            Ноги дуже навантажені: цілий день вони підтримують вагу нашого тіла. Вони наша опора. Їх масаж дозволяє подбати про цю частину тіла, яку часто не беруть до уваги. Цей масаж приносить багато користі. «Із загальної точки зору, затримка на ступнях не обмежить переваги лише цієї галузі: цей вид масажу сприяє відмінному розслабленню, як фізичному, так і психологічному. 

                            Пом'якшити шкіру Зняти напругу Управління стресом Дія на біль (знеболювальна дія дотику) Заспокоїти головний біль Поліпшити сон Зміцнити імунний захист Наповнити тіло енергією Стимулюють кровообіг та допомагають полегшити симптоми венозної недостатності. Боротьба з проблемами травлення та дихання Стимулює циркуляцію лімфи за рахунок глибокого дренажу (допомагає виводити з організму токсини та відходи, що утворюються внаслідок м'язової роботи): ідеально підходить після занять спортом чи фізичних вправ. </div>
                      </li>
                    <li class="prices-item">
                        <p class="prices-item-text">
                            Масаж голови
                        </p>
                        <span class="prices-item-text prices-item-count"
                            >200 грн. / 20 хв.</span
                        >
                    </li>
                     <li class="info">
                        <input id="info__body_12" class="info__switch" type="checkbox">
                        <label for="info__body_12" class="info__headline">Детальніше</label>
                        <div class="info__body">
                            Користь масажу голови пропонує безліч переваг: глибоке розслаблення Розслаблення шкіри голови Бореться з випаданням волосся Прискорює відростання Сприяє мікроциркуляції крові Регенерує тіло Виводить токсини Знижує стрес Полегшує головний біль та мігрені Знімає напругу м'язів шиї Підвищує рівень концентрації Боротьба з безсонням Покращує травлення Викид ендорфінів в організмі для відчуття добробуту та щастя  </div>
                      </li>
                    <li class="prices-item">
                        <p class="prices-item-text">
                            Масаж живота
                        </p>
                        <span class="prices-item-text prices-item-count"
                            >200 грн. / 20 хв.</span
                        >
                    </li>
                     <li class="info">
                        <input id="info__body_13" class="info__switch" type="checkbox">
                        <label for="info__body_13" class="info__headline">Детальніше</label>
                        <div class="info__body">
                            насамперед, відчувається як приємний і розслаблюючий засіб, але він може надати помітний терапевтичний вплив або на стан нервової напруги (стрес), або на емоційний стан (умиротворення емоцій), а також на симптоми травлення, завдяки безлічі виявлених відповідностей рефлекторних зон . там: шлунок, печінка, жовчний міхур, тонка кишка, товста кишка. Вигоди, що відчуваються, часто бувають негайними. 

                            Масаж живота сприятливий для підтримки хорошого самопочуття, якщо він, звичайно, супроводжується здоровою та збалансованою дієтою, моментами відпочинку, спокійного сну та хорошим контролем стресу. Не забуваючи про фізичні вправи, які, пам’ятайте, сприяють кровообігу та зміцнюють мережу обміну між органами </div>
                      </li>
                    <li class="prices-item">
                        <p class="prices-item-text">
                            Тейпування
                        </p>
                        <span class="prices-item-text prices-item-count"
                            >від 200 грн. / 20 хв.</span
                        >
                    </li>
                     <li class="info">
                        <input id="info__body_14" class="info__switch" type="checkbox">
                        <label for="info__body_14" class="info__headline">Детальніше</label>
                        <div class="info__body">
                            Показання до застосування: 

                            - забоїв м'яких тканин; 
                            
                            - остеохондрозу хребта; 
                            
                            - постінсультної спастичності; 
                            
                            - ДЦП у дітей; 
                            
                            - Реабілітаційна підтримка унаслідок травми спини, плечей, суглобів кистьових, гомілковостопних, колінних. 
                            
                            - Контроль рухливості суглобів. 
                            
                            - Корекція постави тощо. 
                            
                            - Вагітність 
                            
                            - Як і будь-який інший, цей метод має також свої протипоказання, котрі враховуються при прийнятті рішення про його застосування. 
                            
                            - Захворювання нирок та серця, тромбоз. 
                            
                            - Підвищена температура, набряки. 
                            
                            - Травми на поверхні шкіри. 
                            
                            - Хронічні хвороби тощо. </div>
                      </li>
                </ul>
            </div>
            <div class="serv-wrup">
            <button type="button" onclick="window.location.href = 'https://n801933.alteg.io/';" class="prices-btn btn">
                онлайн-запис
            </button>
            <picture>
                <img class="img-pb" src="./images/pb_24.png" alt="pb24" width="100" height="100"/>
             </picture></div>
        </div>
    </section>