<section id="studio" class="about section">
  <div class="container">
      <h2 class="our-work__title">Наша студія</h2>

      <div class="slideshow">
        <div class="slideshow-item">
            <img src="./images/studio/studio_4.jpg" alt="студія 1">
            <div class="slideshow-item-text">
                <p>Кабінет на столичній Оболоні створений для того, щоб гості відчували себе 
                    комфортно та затишно, могли розслабитися та насолоджуватися атмосферою 
                    розслаблення.</p>
            </div>
        </div>
        <div class="slideshow-item">
            <img src="./images/studio/studio_3.jpg" alt="студія 2">
            <div class="slideshow-item-text">
                <p>Насолоджуйтесь приємним інтер’єром із мальовничими видами на місто, 
                    які допоможуть вам розслабитися та відпочити. Наша студія пропонує 
                    широкий вибір чаїв. М’яка зона відпочинку забезпечує зручне перебування.  
                </p>
            </div>
        </div>
        <div class="slideshow-item">
            <img src="./images/studio/studio.jpg" alt="студія 3">
            <div class="slideshow-item-text">
                <p>Тут ви знайдете всі умови для кращого психологічного 
                    консультування та самопізнання, щоб стати здоровою та щасливою людиною. 
                    Кабінет має душ і пропонує вам чашку гарячого чаю та спокійну розмову, 
                    де ви зможете обговорити будь-які проблеми, які виникають у вас у житті.</p>

            </div>
        </div>
        <div class="slideshow-item">
            <img src="./images/studio/IMG-b858391797509105e437e35c31e8f3cb-V.jpg" alt="студія 4">
            <div class="slideshow-item-text">
                <p>Кондиціонер забезпечує комфортний клімат протягом усього сеансу. 
                    Наша Студія створює приємну атмосферу та допомагає зняти стрес під час 
                    відвідування масажу.
                </p>           
            </div>
        </div>
        <div class="slideshow-item">
            <img src="./images/logo.jpg" alt="студія 5">
            <div class="slideshow-item-text">
                <p> Студія масажу RudenKo запрошує Вас поринути у приємну атмосферу та 
                    бездоганний сервіс</p>           
            </div>
        </div>
    </div>
    <button type="button" onclick="window.location.href = 'https://n801933.alteg.io/';" class="prices-btn btn">
        Записатись на масаж
    </button>
  </div>
</section>